In [1]:
import os, sys
from datetime import datetime
import pandas as pd

In [2]:
data = pd.read_csv('NEW_NAMECHANGE.csv')

/Users/zaikunxu/Library/Python/2.7/lib/python/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (9,10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
data.head()

,Unnamed: 0,CANTON,CITY,CITY_2,CITY_OLD,EVENT,EVENT.DESCR,EVENT.TAG,EVENT_nr,FIRM.UID,...,NAME,NAME_OLD,NOTICE_REF,PUBDATE,Quarter,SUBMITDATE,file,month,quarter,year
0,1,ZH,Oberengstringen,Bern,Oberengstringen,STATUS.CHANGED,New Company,HR01,1.0,CHE480399774,...,ABA Aviation Management GmbH,ABA Aviation Management GmbH,ts160329154314,2016-03-31,2016 Q1,29.03.2016,HR.02750817.xml,3,1,2016
1,2,ZH,Z�rich,Bern,Z�rich,STATUS.CHANGED,New Company,HR01,1.0,CHE270766798,...,Hyposcout AG,Hyposcout AG,ts160329154314,2016-03-31,2016 Q1,29.03.2016,HR.02750819.xml,3,1,2016
2,3,ZH,Z�rich,Bern,Z�rich,STATUS.CHANGED,New Company,HR01,1.0,CHE492135124,...,Ikarus Tours AG,Ikarus Tours AG,ts160329154314,2016-03-31,2016 Q1,29.03.2016,HR.02750821.xml,3,1,2016
3,4,ZH,Eglisau,Bern,Eglisau,STATUS.CHANGED,New Company,HR01,1.0,CHE295211051,...,"IN BLOOM, Inh. Salathe","IN BLOOM, Inh. Salathe",ts160329154314,2016-03-31,2016 Q1,29.03.2016,HR.02750823.xml,3,1,2016
4,5,ZH,R�mlang,Bern,R�mlang,STATUS.CHANGED,New Company,HR01,1.0,CHE244058052,...,KIOSK GNT Gnanasekeram Bernard Navarajakumar,KIOSK GNT Gnanasekeram Bernard Navarajakumar,ts160329154314,2016-03-31,2016 Q1,29.03.2016,HR.02750825.xml,3,1,2016

In [4]:
def parse_time(x):
    dt = datetime.strptime(x, "%Y-%m-%d")
    return dt.year

data['year'] = data['PUBDATE'].apply(parse_time)

In [5]:
year_count = data.groupby('year').size()

In [6]:
year_count

year
2002    32061
2003    33819
2004    36297
2005    35624
2006    36085
2007    38389
2008    39270
2009    37684
2010    43022
2011    41986
2012    41578
2013    42735
2014    43715
2015    43253
2016    10977
dtype: int64

In [7]:
import matplotlib.pyplot as plt
plt.hist(year_count.tolist(), 100)
plt.savefig('ex.jpg')
plt.close()

In [8]:
year= range(2,17)
plt.bar(year, year_count.tolist())
plt.show()
plt.savefig('ex.jpg')
plt.close()